body {
    font-family: Arial, sans-serif;
    background-color: cadetblue;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }
    input, textarea, button {
        width: 100%;
        box-sizing: border-box;
        padding: 12px;
        font-size: 16px;
    }
}


h1 {
    font-size: 70px;
    text-align: center;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 28px;
    line-height: 1.6;
}

button {
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    background-color: blueviolet;
}


ul li {
    text-decoration: none;
    text-transform: none;
}